// Explore

.explore {
  width: 100%;
}

.explore-container {
  margin: 0 auto;
  max-width: unset;
  text-align: center;
  padding: 38px 0 24px;
  background-color: $secondary-background;
}

.explore h2 {
  width: 280px;
  font-weight: 500;
  font-size: 1.5em;
  text-align: center;
  margin: 0 auto 14px;

  @media (min-width: 640px) {
    width: 540px;
  }
}

.explore p {
  font-size: 1.2em;
  font-weight: 300;
  width: 350px;
  margin: 0 auto 34px;

  @media (min-width: 640px) {
    width: 560px;
  }
}
