// Footer

.footer {
  width: 100%;
  min-width: 375px;
  display: flex;
  background-color: $dark-color;
}

.footer-container {
  width: 100%;
  display: flex;
  padding: 28px 38px;
  flex-direction: column;

  @media (min-width: 640px) {
    margin: 0 auto;
    max-width: 450px;
    text-align: center;
  }

  @media (min-width: 640px) {
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
  }
}

.footer-title {
  width: 100px;
  color: white;
  font-size: 1.1em;
  margin: 0 0 18px;
  font-weight: normal;
  font-family: Shrikhand, sans-serif;
  letter-spacing: 0.5px;

  @media (min-width: 640px) {
    margin: 0 auto 18px;
  }
}

.footer-list-menu {
  @media (min-width: 1260px) {
    display: flex;
    justify-content: center;
  }
}

.footer-list-item {
  margin-bottom: 8px;

  @media (min-width: 1260px) {
    margin-right: 40px;
  }
}

.footer-list-item i {
  width: 10px;
  color: white;
  margin-right: 16px;
}

.footer-list-item-link {
  color: white;
  font-weight: 300;
}

.footer a:visited,
.footer-menu a:visited {
  color: white;
}

// Footer

footer {
  width: 100%;
  color: white;
  position: relative;
  min-width: 375px;
}

.footer-menu {
  width: 100%;
  display: flex;
  bottom: -128px;
  position: absolute;
  height: auto;
  background-color: $dark-color;

  @media (min-width: 1260px) {
    bottom: -47px;
  }
}

.footer-menu-container {
  width: 90%;
  display: flex;
  margin: 0 auto;
  padding: 28px 38px;
  flex-direction: column;

  @media (min-width: 640px) {
    margin: 0 auto;
    max-width: 450px;
    text-align: center;
  }

  @media (min-width: 640px) {
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
  }
}
