// Location

.location {
  width: 100%;
  height: 50px;
  display: flex;
  padding-bottom: 2px;
  align-items: center;
  justify-content: center;
  color: $dark-color;
  background-color: $location-background;

  &__form {
    text-align: center;
  }

  &__input {
    width: 32%;
    height: 24px;
    border: none;
    outline: none;
    margin-left: 8px;
    min-width: 160px;
    font-weight: 500;
    font-size: 1.1rem;
    padding-left: 8px;
    color: $dark-color;
    background-color: transparent;

    &::placeholder {
      color: $dark-color;
    }
  }
}
