// Working

.working {
  width: 100%;
  display: flex;
  background-color: #fff;

  @media (min-width: 1124px) {
    max-width: 200px;
    margin: 0 auto;
    justify-content: center;
  }
}

.working-container {
  padding: 38px 38px;
  width: 100%;

  @media (min-width: 640px) {
    margin: 0 auto;
    max-width: 1340px;
  }
}

.working-container h2 {
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 28px;

  @media (min-width: 640px) {
    text-align: center;
  }

  @media (min-width: 1180px) {
    display: flex;
    justify-content: center;
  }
}

.working-buttons {
  width: 100%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  max-width: 450px;

  @media (min-width: 1124px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2.7em;
    max-width: unset;
  }
}

.working-button {
  width: 100%;
  display: flex;
  margin: 0 auto;
  flex-direction: row;

  @media (min-width: 1124px) {
    min-width: 300px;

    margin: 0 auto;
    justify-content: center;
  }
}

.working-button-logo {
  color: #7e7e7e;
  padding: 0 30px;
  width: 12px;

  @media (min-width: 1124px) {
    width: 0;
  }
}

.working-button p {
  font-size: 1em;
  padding-left: 10px;
}

.working-button-number {
  top: 25px;
  left: -10px;
  display: flex;
  color: white;
  font-size: 0.9em;
  padding: 3px 8px;
  position: absolute;
  border-radius: 30px;
  justify-content: center;
  background-color: $primary-color;
}

.working-button a {
  width: 100%;
  display: flex;
  color: black;
  margin: 0 auto;
  padding: 27px 12px;
  position: relative;
  text-align: center;
  flex-direction: row;
  border-radius: 30px;
  margin-bottom: 22px;
  align-items: center;
  box-shadow: 4px 4px 8px #2222;
  background-color: $secondary-background;
}

.working-button a:hover {
  background-color: rgb(248, 235, 255);
}

.working-button:hover .working-button-logo {
  color: $primary-color;
}
