@font-face {
  font-family: "Roboto";
  src: url(public/fonts/Roboto-Light.ttf) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: url(public/fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(public/fonts/Roboto-Medium.ttf) format("truetype");
  font-weight: medium;
}
@font-face {
  font-family: "Roboto";
  src: url(public/fonts/Roboto-Bold.ttf) format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Shrikhand";
  src: url(public/fonts/Shrikhand-Regular.ttf) format("truetype");
  font-weight: medium;
}
@font-face {
  font-family: "Shrikhand";
  src: url(fonts/Shrikhand-Regular.ttf) format("truetype");
  font-weight: medium;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
*:visited {
  color: black;
}

a {
  color: black;
}

@font-face {
  font-family: "Roboto";
  src: url(.fonts/Roboto-Light.ttf) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: url(.fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(.fonts/Roboto-Medium.ttf) format("truetype");
  font-weight: medium;
}
@font-face {
  font-family: "Roboto";
  src: url(.fonts/Roboto-Bold.ttf) format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Shrikhand";
  src: url(.fonts/Shrikhand-Regular.ttf) format("truetype");
  font-weight: medium;
}
@font-face {
  font-family: "Shrikhand";
  src: url(.fonts/Shrikhand-Regular.ttf) format("truetype");
  font-weight: medium;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
*:visited {
  color: black;
}

a {
  color: black;
}

@keyframes fade-menu {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes loading {
  0% {
    opacity: 0.9;
    z-index: 2;
  }
  80% {
    opacity: 0.9;
    background-color: white;
    z-index: 2;
  }
  100% {
    opacity: 0;
  }
}
@keyframes spinner {
  0% {
    transform: rotate(-3turn);
  }
  100% {
    transform: rotate(0turn);
  }
}
.button {
  width: 240px;
  color: white;
  font-size: 1em;
  font-weight: 500;
  border-radius: 28px;
  text-align: center;
  padding: 18px 0;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
  text-shadow: none;
  display: flex;
  border: none;
  justify-content: center;
  margin: 38px auto 0;
  background: linear-gradient(#ff79da, #9356dc);
  transition: background-color 500ms;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin-bottom: 48px;
}
.button:hover {
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.7);
}
.button:hover::after {
  opacity: 1;
}
.button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(circle, #ff74d9 99%, #782cd3 10%);
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}

.check-button {
  display: flex;
  align-items: center;
  background-color: rgba(131, 232, 210, 0.8);
  width: 100%;
  flex: 0;
  justify-content: flex-end;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: all 450ms ease-in-out;
  transform: translateX(80px);
}
.check-button__image {
  color: rgba(131, 232, 210, 0.8);
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 auto;
  background-color: white;
  transition: transform 450ms ease-in-out, color 250ms 100ms;
  transform: translateX(80px);
  transform: rotate(-3turn);
}

.heart {
  position: relative;
  bottom: 11px;
  right: 20px;
}
@media (min-width: 640px) {
  .heart {
    right: -20px;
  }
}

.fa-heart {
  position: absolute;
  height: auto;
  width: auto;
  font-size: 1.4rem;
  cursor: pointer;
}

.heart-full {
  transition: all 300ms ease-in;
  background: -webkit-linear-gradient(#ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heart-empty {
  transition: all 300ms ease-in;
}

.heart .heart-full,
.heart:hover .heart-empty {
  opacity: 0;
}

.heart:hover .heart-full {
  opacity: 1;
}

.heart-restaurant {
  position: relative;
  right: 20px;
  top: 0;
}

.heart-restaurant:hover .heart-full {
  opacity: 1;
}

.loading {
  opacity: 1;
  background-color: white;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -2;
  animation: loading 3s;
  transition: all 1000ms ease-in-out;
}
.loading-spinner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.loading-spinner i {
  color: #ff79da;
  transition: animation 0ms;
  animation: spinner 5s;
}

header {
  width: 100%;
  margin: 0 auto;
  background-color: white;
  position: relative;
}
header h1 {
  padding: 10px 0;
  text-align: center;
  font-family: "Shrikhand", sans-serif;
  font-weight: medium;
  font-style: normal;
}

.header-container,
.header-container-menu {
  width: 100%;
  margin: 0 auto 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 15px 0 rgba(100, 100, 100, 0.3);
}
.header-container h1,
.header-container-menu h1 {
  font-family: "Shrikhand", sans-serif;
  padding: 10px 0;
  text-align: center;
}
.header-container a,
.header-container-menu a {
  margin: 0;
  padding: 0;
}
.header-container i,
.header-container-menu i {
  position: absolute;
  top: 28px;
  left: 38px;
  color: black;
}

.header-container-menu {
  box-shadow: unset;
  margin-bottom: 0;
}

.location {
  width: 100%;
  height: 50px;
  display: flex;
  padding-bottom: 2px;
  align-items: center;
  justify-content: center;
  color: #353535;
  background-color: #eaeaea;
}
.location__form {
  text-align: center;
}
.location__input {
  width: 32%;
  height: 24px;
  border: none;
  outline: none;
  margin-left: 8px;
  min-width: 160px;
  font-weight: 500;
  font-size: 1.1rem;
  padding-left: 8px;
  color: #353535;
  background-color: transparent;
}
.location__input::placeholder {
  color: #353535;
}

.explore {
  width: 100%;
}

.explore-container {
  margin: 0 auto;
  max-width: unset;
  text-align: center;
  padding: 38px 0 24px;
  background-color: #f6f6f6;
}

.explore h2 {
  width: 280px;
  font-weight: 500;
  font-size: 1.5em;
  text-align: center;
  margin: 0 auto 14px;
}
@media (min-width: 640px) {
  .explore h2 {
    width: 540px;
  }
}

.explore p {
  font-size: 1.2em;
  font-weight: 300;
  width: 350px;
  margin: 0 auto 34px;
}
@media (min-width: 640px) {
  .explore p {
    width: 560px;
  }
}

.working {
  width: 100%;
  display: flex;
  background-color: #fff;
}
@media (min-width: 1124px) {
  .working {
    max-width: 200px;
    margin: 0 auto;
    justify-content: center;
  }
}

.working-container {
  padding: 38px 38px;
  width: 100%;
}
@media (min-width: 640px) {
  .working-container {
    margin: 0 auto;
    max-width: 1340px;
  }
}

.working-container h2 {
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 28px;
}
@media (min-width: 640px) {
  .working-container h2 {
    text-align: center;
  }
}
@media (min-width: 1180px) {
  .working-container h2 {
    display: flex;
    justify-content: center;
  }
}

.working-buttons {
  width: 100%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  max-width: 450px;
}
@media (min-width: 1124px) {
  .working-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2.7em;
    max-width: unset;
  }
}

.working-button {
  width: 100%;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
}
@media (min-width: 1124px) {
  .working-button {
    min-width: 300px;
    margin: 0 auto;
    justify-content: center;
  }
}

.working-button-logo {
  color: #7e7e7e;
  padding: 0 30px;
  width: 12px;
}
@media (min-width: 1124px) {
  .working-button-logo {
    width: 0;
  }
}

.working-button p {
  font-size: 1em;
  padding-left: 10px;
}

.working-button-number {
  top: 25px;
  left: -10px;
  display: flex;
  color: white;
  font-size: 0.9em;
  padding: 3px 8px;
  position: absolute;
  border-radius: 30px;
  justify-content: center;
  background-color: #9356dc;
}

.working-button a {
  width: 100%;
  display: flex;
  color: black;
  margin: 0 auto;
  padding: 27px 12px;
  position: relative;
  text-align: center;
  flex-direction: row;
  border-radius: 30px;
  margin-bottom: 22px;
  align-items: center;
  box-shadow: 4px 4px 8px #2222;
  background-color: #f6f6f6;
}

.working-button a:hover {
  background-color: #f8ebff;
}

.working-button:hover .working-button-logo {
  color: #9356dc;
}

.restaurants {
  width: 100%;
  display: flex;
  background-color: #f6f6f6;
}

.restaurants-container {
  width: 100%;
  padding: 42px 38px;
}

.restaurants-container h2 {
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 28px;
}
@media (min-width: 640px) {
  .restaurants-container h2 {
    text-align: center;
  }
}

.restaurants-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 640px) {
  .restaurants-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 2em;
    row-gap: 0.5em;
    max-width: 900px;
    margin: 0 auto;
  }
}
@media (min-width: 1124px) {
  .restaurants-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 2em;
    row-gap: 0.5em;
    max-width: 1340px;
    margin: 0 auto;
  }
}

.restaurant-card {
  width: 100%;
  height: auto;
  background-color: white;
  border-radius: 20px;
  position: relative;
  margin: 0 auto;
  box-shadow: 4px 4px 8px #2222;
}
@media (min-width: 640px) {
  .restaurant-card {
    max-width: 450px;
  }
}

.restaurant-card-link {
  color: black;
  margin-bottom: 22px;
}
.restaurant-card-link :visited {
  color: black;
}

.restaurant-card-image {
  width: 100%;
  min-width: 180px;
  min-height: 180px;
  max-height: 180px;
  object-fit: cover;
  object-position: center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.restaurant-card-heading {
  display: flex;
  justify-content: space-between;
  padding: 8px 14px 14px;
}

.restaurant-card-body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.restaurant-card-title {
  font-size: 1.1em;
  margin-bottom: 4px;
  font-weight: 500;
}

.restaurant-card-location {
  display: inline-block;
  font-weight: 300;
  text-align: left;
}

.restaurant-card-notice {
  top: 14px;
  right: 18px;
  font-size: 0.9em;
  font-weight: 400;
  padding: 5px 10px;
  border-radius: 2px;
  position: absolute;
  color: #009872;
  background-color: #99e2d0;
}

.footer {
  width: 100%;
  min-width: 375px;
  display: flex;
  background-color: #353535;
}

.footer-container {
  width: 100%;
  display: flex;
  padding: 28px 38px;
  flex-direction: column;
}
@media (min-width: 640px) {
  .footer-container {
    margin: 0 auto;
    max-width: 450px;
    text-align: center;
  }
}
@media (min-width: 640px) {
  .footer-container {
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
  }
}

.footer-title {
  width: 100px;
  color: white;
  font-size: 1.1em;
  margin: 0 0 18px;
  font-weight: normal;
  font-family: Shrikhand, sans-serif;
  letter-spacing: 0.5px;
}
@media (min-width: 640px) {
  .footer-title {
    margin: 0 auto 18px;
  }
}

@media (min-width: 1260px) {
  .footer-list-menu {
    display: flex;
    justify-content: center;
  }
}

.footer-list-item {
  margin-bottom: 8px;
}
@media (min-width: 1260px) {
  .footer-list-item {
    margin-right: 40px;
  }
}

.footer-list-item i {
  width: 10px;
  color: white;
  margin-right: 16px;
}

.footer-list-item-link {
  color: white;
  font-weight: 300;
}

.footer a:visited,
.footer-menu a:visited {
  color: white;
}

footer {
  width: 100%;
  color: white;
  position: relative;
  min-width: 375px;
}

.footer-menu {
  width: 100%;
  display: flex;
  bottom: -128px;
  position: absolute;
  height: auto;
  background-color: #353535;
}
@media (min-width: 1260px) {
  .footer-menu {
    bottom: -47px;
  }
}

.footer-menu-container {
  width: 90%;
  display: flex;
  margin: 0 auto;
  padding: 28px 38px;
  flex-direction: column;
}
@media (min-width: 640px) {
  .footer-menu-container {
    margin: 0 auto;
    max-width: 450px;
    text-align: center;
  }
}
@media (min-width: 640px) {
  .footer-menu-container {
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
  }
}

.background-image {
  width: 100%;
  max-height: 350px;
  object-fit: cover;
  margin: 0 auto;
  position: relative;
}

.menus {
  position: relative;
  top: -80px;
  background-color: #f6f6f6;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  margin: 0 auto;
  width: 100%;
  display: flex;
}
@media (min-width: 640px) {
  .menus {
    max-width: 800px;
  }
}
@media (min-width: 1260px) {
  .menus {
    width: 100%;
    max-width: 1330px;
  }
}

.menus-container {
  width: 100%;
}

.menus-container-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 38px auto 0;
}
@media (min-width: 640px) {
  .menus-container-heading {
    justify-content: center;
  }
}

.menus-container-title {
  font-family: Shrikhand, sans-serif;
  font-size: 1.6em;
  font-weight: normal;
  display: block;
}
@media (min-width: 1260px) {
  .menus-container-title {
    margin-right: 20px;
  }
}

.menus-cards-container {
  margin: 0 auto;
  width: 80%;
}
@media (min-width: 1260px) {
  .menus-cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2em;
    justify-content: center;
    max-width: 1180px;
  }
}

.menus-cards {
  width: 100%;
  margin: 30px auto 0;
  animation: fade-menu 0.6s;
  opacity: 0;
}
@media (min-width: 640px) {
  .menus-cards {
    max-width: 500px;
    min-width: 500px;
  }
}
@media (min-width: 1260px) {
  .menus-cards {
    max-width: 380px;
    min-width: 380px;
  }
}

.menus-cards-starter {
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
}

.menus-cards-dishes {
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

.menus-cards-desserts {
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.menus-cards__title {
  display: flex;
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 300;
  padding-bottom: 4px;
  border-bottom: 3px solid #00e2d0;
  width: 45px;
  margin-bottom: 20px;
}
@media (min-width: 1260px) {
  .menus-cards__title {
    margin: 0 auto 20px;
    justify-content: center;
  }
}

.menus-cards-item {
  width: 100%;
  background-color: white;
  border-radius: 15px;
  margin: 14px auto 0;
  display: flex;
  overflow: hidden;
  box-shadow: 4px 4px 8px #9999;
  justify-content: center;
}
.menus-cards-item:hover .check-button {
  transform: translateX(1px);
  flex: 2;
  margin-left: 20px;
}
.menus-cards-item:hover .check-button__image {
  transform: translateX(0);
  transform: rotate(0turn);
}
.menus-cards-item__heading {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  flex: 7;
  margin: 20px 0 20px 20px;
}
.menus-cards-item__title {
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menus-cards-item__description {
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menus-cards-item__price {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex: 1;
  margin-bottom: 20px;
}

/*# sourceMappingURL=style.css.map */
