// Menus

.background-image {
  width: 100%;
  max-height: 350px;
  object-fit: cover;
  margin: 0 auto;
  position: relative;
}

.menus {
  position: relative;
  top: -80px;
  background-color: $secondary-background;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  margin: 0 auto;
  width: 100%;
  display: flex;

  @media (min-width: 640px) {
    max-width: 800px;
  }

  @media (min-width: 1260px) {
    width: 100%;
    max-width: 1330px;
  }
}

.menus-container {
  width: 100%;
}

.menus-container-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 38px auto 0;

  @media (min-width: 640px) {
    justify-content: center;
  }
}

.menus-container-title {
  font-family: Shrikhand, sans-serif;
  font-size: 1.6em;
  font-weight: normal;
  display: block;

  @media (min-width: 1260px) {
    margin-right: 20px;
  }
}

.menus-cards-container {
  margin: 0 auto;
  width: 80%;

  @media (min-width: 1260px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2em;
    justify-content: center;
    max-width: 1180px;
  }
}

.menus-cards {
  width: 100%;
  margin: 30px auto 0;
  animation: fade-menu 0.6s;
  opacity: 0;

  @media (min-width: 640px) {
    max-width: 500px;
    min-width: 500px;
  }

  @media (min-width: 1260px) {
    max-width: 380px;
    min-width: 380px;
  }
}

.menus-cards-starter {
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
}

.menus-cards-dishes {
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

.menus-cards-desserts {
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.menus-cards__title {
  display: flex;
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 300;
  padding-bottom: 4px;
  border-bottom: 3px solid $tertiary-color;
  width: 45px;
  margin-bottom: 20px;

  @media (min-width: 1260px) {
    margin: 0 auto 20px;
    justify-content: center;
  }
}

.menus-cards-item {
  width: 100%;
  background-color: white;
  border-radius: 15px;
  margin: 14px auto 0;
  display: flex;
  overflow: hidden;
  box-shadow: 4px 4px 8px #9999;
  justify-content: center;

  &:hover .check-button {
    transform: translateX(1px);
    flex: 2;
    margin-left: 20px;
  }

  &:hover .check-button__image {
    transform: translateX(0);
    transform: rotate(0turn);
  }

  &__heading {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex: 7;
    margin: 20px 0 20px 20px;
  }

  &__title {
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__description {
    font-weight: 300;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__price {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex: 1;
    margin-bottom: 20px;
  }
}
