.button {
  width: 240px;
  color: white;
  font-size: 1em;
  font-weight: 500;
  border-radius: 28px;
  text-align: center;
  padding: 18px 0;
  box-shadow: 1px 2px 10px rgb(0 0 0 / 30%);
  text-shadow: none;
  display: flex;
  border: none;
  justify-content: center;
  margin: 38px auto 0;
  background: linear-gradient($secondary-color, $primary-color);
  transition: background-color 500ms;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin-bottom: 48px;

  &:hover {
    box-shadow: 1px 2px 10px rgb(0 0 0 / 70%);

    &::after {
      opacity: 1;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: radial-gradient(
      circle,
      darken($secondary-color, 1) 99%,
      darken($primary-color, 10) 10%
    );
    opacity: 0;
    z-index: -1;
    transition: opacity 250ms;
  }
}
