// Loading

.loading {
  opacity: 1;
  background-color: white;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -2;
  animation: loading 3s;
  transition: all 1000ms ease-in-out;

  &-spinner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & i {
      color: $secondary-color;
      transition: animation 0ms;
      animation: spinner 5s;
    }
  }
}
